= render 'welcome_modal'
= render 'score_modal'
= render 'result_modal'

%div{class: 'container-fluid'}
  %div{class: 'row'}
    %div{class: 'col-xs-12 text-center', id: 'img-container'}
  %div{class: 'row'}
    %div{class: 'col-xs-5'} 
      %div{id: 'sentence-a-container', class: 'sentence-container'} 
        %div Fetching sentence...
    %div{class: 'col-xs-1 text-right slider-container'}
      %input{id: 'mos-a-slider-container', type: 'text'}
    %div{class: 'col-xs-1 text-left slider-container'}
      %input{id: 'mos-b-slider-container', type: 'text'}
    %div{class: 'col-xs-5'} 
      %div{id: 'sentence-b-container', class: 'sentence-container'}  
        %div Fetching sentence...
  %div{class: 'row'}
    %div{id: 'response-container'}
      %div{class: 'col-xs-2'}
        %button{type: 'button', class: 'btn btn-lg btn-block btn-success', id: 'button-see-scores'}
          %span{class: 'glyphicon glyphicon-open'}
      %div{class: 'col-xs-4'}
        %button{type: 'button', class: 'btn btn-lg btn-block btn-primary', id: 'button-prev'} &laquo; Previous
      %div{class: 'col-xs-6'}
        %button{type: 'button', class: 'btn btn-lg btn-block btn-primary', id: 'button-next'} Next &raquo;

= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css'
= stylesheet_link_tag 'style'
= stylesheet_link_tag 'animate'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js'
= javascript_include_tag 'layout/layout'
= javascript_include_tag 'evals/mosvals'
= javascript_include_tag 'jquery.sprintf'
%link{href: 'https://fonts.googleapis.com/css?family=Exo+2', rel: 'stylesheet'}

:javascript
  mosvals.attach()
  layout.attach_to_subjective_evals()
  