%div{class: 'container', id: 'leaderboard'}
  %div{class: 'col-xs-3 tally-header'} Samples
  %div{class: 'col-xs-3 tally-header'} MOS A
  %div{class: 'col-xs-3 tally-header'} DMOS
  %div{class: 'col-xs-3 tally-header'} MOS B
  %div{class: 'col-xs-3 tally-ldb'}
    %div{class: 'well well-sm', id: 'tally-count'} 
      = @stats[:count]
  %div{class: 'col-xs-3 tally-ldb'}
    %div{class: 'well well-sm', id: 'tally-mos-a'}
      = sprintf('%.2f', @stats[:mos_a])
  %div{class: 'col-xs-3 tally-ldb'}
    %div{class: 'well well-sm', id: 'tally-dmos'}
      = sprintf('%+.2f', @stats[:dmos])
  %div{class: 'col-xs-3 tally-ldb'}
    %div{class: 'well well-sm', id: 'tally-mos-b'}
      = sprintf('%.2f', @stats[:mos_b])

%div{class: 'container', id: 'tooling'}
  %div{class: 'col-xs-12 text-center'}
    %div{class: 'checkbox'}
      %label
        %input{type: 'checkbox', id: 'tally-table-auto-update'} Auto update table

  %div{class: 'col-xs-12 alert alert-warning text-center', id: 'stale-notification', style: 'display: none'}
    %span{class: 'glyphicon glyphicon-exclamation-sign'}
    Table is stale.
    %a{href: '#', id: 'table-refresh'} Refresh


%div{class: 'container', id: 'fake-table-header'}
  %table{class: 'table table-striped table-hover', id: 'table-fake'}
    %thead
      %tr
        %th{style: 'width: 20%'} Timestamp
        %th{style: 'width: 25%'} Method: Google
        %th{style: 'width: 5%'} A
        %th{style: 'width: 5%'} D
        %th{style: 'width: 5%'} B
        %th{style: 'width: 25%'} Method: Domain
        %th{style: 'width: 15%'} Pic (hover)
%div{class: 'container', id: 'table-container'}
  %table{class: 'table table-striped table-hover', id: 'table-denorm'}
    %tbody

= stylesheet_link_tag 'style'
= javascript_include_tag 'moment'
= javascript_include_tag 'evals/subvals'
= javascript_include_tag 'jquery.sprintf'
%link{href: 'https://fonts.googleapis.com/css?family=Exo+2', rel: 'stylesheet'}

:javascript
  layout.recalculate_tally_layout();
  subvals.activate_link();
  valmon.attach();
  valmon.update(null);
